body,
html {
    padding: 0;
    margin: 0;
}

.modal-backdrop {
    background-color: white;
}

.modal-content {
    border: none;
    border-radius: 0;
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-body {
    position: relative;
}

@media (min-width: 769px) {
    .modal-dialog {
        width: 900px;
    }
}

button {
    border: none;
    outline: none;
}

#registerMyInterestModal .title {
    font-family: PlayfairDisplay-Regular;
    font-size: 48px;
    color: #1C1C1C;
    letter-spacing: 2.25px;
    line-height: 78px;
    text-align: center;
}

#registerMyInterestModal label {
    font-family: Lato-Regular;
    font-size: 14px;
    color: #000000;
    letter-spacing: 1.16px;
    line-height: 25px;
    font-weight: 100;
    margin-bottom: 27px;
}

#registerMyInterestModal .modal-body {
    padding: 30px;
}

.modal-body .close {
    position: absolute;
    right: -20px;
    top: -20px;
    opacity: 1;
    filter: alpha(opacity=100);
    width: 62px;
    height: 62px;
    /* background-color: black; */
}

#registerMyInterestModal button {
    background: #000000;
    font-family: Lato-Bold;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 3.5px;
    line-height: 20px;
    width: 270px;
    height: 50px;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
}

#registerMyInterestModal input,
#registerMyInterestModal textarea {
    background: rgba(226, 226, 226, 0.15);
    border: 1px solid #9B9B9B;
    width: 100%;
    font-family: Lato-Regular;
    font-size: 13px;
    color: #000000;
    letter-spacing: 1.08px;
    line-height: 20px;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../img/icon/unchecked.png) left top no-repeat;
    cursor: pointer;
    float: left;
    margin-right: 10px;
    margin-top: -6px;
}

input[type="checkbox"]:checked + label span {
    background: url(../img/icon/checked.png) left top no-repeat;
}

a,
a:hover,
a:focus {
    color: white;
    text-decoration: none;
    outline: none;
}

ul {
    padding-left: 0;
}

ul li {
    list-style: none;
}

.parallax {
    min-height: 400px;
    background: transparent;
}

.hr {
    border: 1px solid #FFFFFF;
    width: 62px;
    display: block;
    margin: 25px auto;
    border-color: inherit;
}

.flex-center-x {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    left: 50%;
}

.section-title {
    font-family: PlayfairDisplay-Regular, serif;
    font-size: 64px;
    letter-spacing: 3px;
    line-height: 78px;
    text-align: center;
    margin: 0;
}

nav a,
.welcome h3,
.feature-list .name,
.label,
#agent .name {
    text-transform: uppercase;
}

.label {
    display: block;
    white-space: normal;
    color: black;
}

#editTools {
    position: fixed;
    left: 10px;
    top: 50%;
    margin-top: -108px;
    z-index: 11001;
}

#editTools .picker {
    position: absolute;
    left: 60px;
    background-color: white;
    top: 0;
    width: 250px;
    height: auto;
    display: none;
    padding: 20px;
}

#editTools .picker.font {
    text-align: left;
}

#editTools .picker.font .divider {
    padding: 10px 0;
}

#editTools .picker h5 {
    /* Feature/Background c: */
    font-family: Graphik-Regular;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0.43px;
    line-height: 16px;
    text-transform: initial;
}

#editTools .picker select {
    font-size: 20px;
    width: 100%;
    color: black;
}

#editTools .picker h4 {
    color: black;
    text-transform: initial;
}

#font-preview-big {
    font-size: 26px;
    font-family: PlayfairDisplay-Regular;
}

#editTools .picker span {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    float: left;
    background-color: #CECECE;
    margin-top: 5px;
    margin-left: 8px;
    border: 1px solid grey;
}

#editTools .picker .group {
    width: 60px;
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    clear: both;
    float: none;
}

#editTools .picker .group.selected .feature-color:after {
    content: "";
    width: 16px;
    height: 12px;
    background: url(../img/icon/check.png) no-repeat center;
    background-size: contain;
    position: absolute;
    z-index: 3;
    left: 6px;
    top: 8px;
}

#editTools .picker .feature-color {
    position: relative;
    z-index: 2;
}

#editTools .picker .feature-bg {
    margin-left: -12px;
}

#editTools .picker .left {
    width: 50%;
    height: 100%;
}

#editTools .picker .right {
    width: 50%;
    height: 100%;
}

#editTools > ul {
    height: 216px;
    background: #33B0E9;
    border-radius: 6px;
    width: 60px;
}

#editTools > ul li {
    color: white;
    text-align: center;
    height: 65px;
    font-family: Graphik-Medium;
    font-size: 9px;
    letter-spacing: 1.12px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.29);
    cursor: pointer;
    padding-top: 10px;
    position: relative;
}

#editTools>ul li:hover .picker {
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
}

#editTools li:hover {
    background: #0596D8;
}

#editTools ul.picker li:hover {
    color: white;
}

#editTools li .icon {
    display: block;
    margin: 10px auto;
    margin-top: 0;
}

#editTools > ul > li:first-child {
    height: 23px;
    font-size: 10px;
    line-height: 23px;
    background: #605C7C;
    border-radius: 5px 5px 0 0;
    border: none;
    padding: 0;
    color: white;
}

#editTools ul.picker li:first-child {
    padding-top: 0;
}

#editTools ul li:last-child {
    border: none;
}

#humburger {
    display: none;
    width: 27px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
    cursor: pointer;
}

nav {
    position: absolute;
    top: 47px;
    left: 0;
    width: 100%;
}

nav ul {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 95%;
    margin: 0 auto;
}

nav li a {
    font-size: 10px;
    letter-spacing: 2.91px;
    line-height: 20px;
    padding-bottom: 15px;
    margin-right: 50px;
    font-family: Lato-Bold;
    color: inherit;
    border-bottom: 2px solid transparent;
}

nav li a:focus {
    color: inherit;
}

nav li.last a {
    margin-right: 0;
}

nav li a.logo {
    font-size: 24px;
    color: inherit;
    line-height: 18px;
    position: absolute;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    left: 50%;
    font-family: 'PlayfairDisplay-Bold';
    font-size: 24px;
    text-transform: initial;
}

#secondary-nav.sticky {
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 10;
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
}

#secondary-nav.sticky .register {
    margin-top: 10px;
}

#secondary-nav.sticky ul {
    padding-top: 20px;
}

#home .tint {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

#home nav li a.logo {
    color: white;
}

nav li a.logo:hover {
    border: none;
}

nav li a.active,
nav li a:hover {
    border-bottom: 2px solid white;
    color: inherit;
    border-color: inherit;
}

#home nav li a.active,
#home nav li a:hover {
    color: white;
    border-color: white;
}

nav .register {
    font-size: 10px;
    letter-spacing: 3.5px;
    line-height: 20px;
    border: 1px solid #FFFFFF;
    padding: 6px 20px;
    position: absolute;
    left: 50%;
    color: inherit;
    top: 45px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    cursor: pointer;
    border-color: inherit;
    white-space: nowrap;
}
#mobile-nav{
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100011;
    display: none;
}
#mobile-nav .close{
    position: absolute;
    top: 15px;
    right: 19px;
    opacity: 1;
    filter: alpha(opacity=100);
    width: 30px;
    z-index: 100;
}
#mobile-nav > ul {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

#mobile-nav .hr {
    border-color: white;
    margin: 10px auto;
    margin-bottom: 27px;
}

#mobile-nav .avatar {
    width: 45px;
    display: block;
    margin: 0 auto;
}

#mobile-nav .name {
    color: white;
    text-align: center;
    /* MICHEAL PASCOE: */
    font-family: Lato-Regular;
    color: #FFFFFF;
    letter-spacing: 2.73px;
    font-size: 14px;
}

#mobile-nav .register {
    position: relative;
    color: white;
    top: 0;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 8px;
}
#mobile-nav .contact{
    margin: 0 auto;
    width: 69px;
}

#mobile-nav .contact li:last-child img {
    margin-right: 0;
}

#mobile-nav .contact li {
    float: left;
}
#mobile-nav li a{
    color: white;
    text-align: center;
    width: 100%;
    display: block;
    float: none;
    font-size: 14px;
    border-bottom: none;
}

#mobile-nav li a.active, #mobile-nav li a:hover {
    border: none;
}

#mobile-nav li a.logo {
    position: relative;
    font-size: 18px;
}

/*home*/

#home {
    /* height: 100%; */
    height: 100vh;
    position: relative;
    color: white;
    text-align: center;
}

.welcome {
    /* padding-top: 20%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.welcome .time {
    /* SATURDAY 21st Februa: */
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 33px;
    font-weight: 200;
    margin-bottom: 100px;
    display: block;
}

.welcome h1 {
    font-family: PlayfairDisplay-Regular, serif;
    font-size: 78px;
    letter-spacing: 2.33px;
    line-height: 80px;
    margin: 0;
    margin-bottom: 40px;
}

.welcome h3 {
    font-size: 16px;
    letter-spacing: 8px;
    line-height: 20px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 35px;
}

.feature-list .bedroom {
    background-image: url('../img/icon/bedroom.png');
}

.feature-list .bathroom {
    background-image: url('../img/icon/bathroom.png');
}

.feature-list .parking {
    background-image: url('../img/icon/parking.png');
}

#features {
    position: relative;
    padding-top: 160px;
}

#features .hr {
    margin: 40px auto;
}

#features .feature-list {
    margin-bottom: 70px;
}

.content ul,
p {
    font-family: Lato-Regular;
    font-size: 14px;
    letter-spacing: 1.2px;
    line-height: 33px;
}

#features .right ul li {
    list-style-type: disc;
    margin-left: 40px;
}

.feature-list {
    width: 482px;
    margin: 0 auto;
    height: 97px;
}

#home .feature-list {
    position: absolute;
    bottom: 115px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.scroll-explore {
    position: absolute;
    bottom: 30px;
}

.scroll-explore .label {
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 6px;
    line-height: 15px;
    font-weight: 200;
    margin-bottom: 30px;
    display: block;
    white-space: nowrap;
}

.scroll-explore .icon {
    width: 26px;
    margin: 0 auto;
    display: block;
}

.feature-list li {
    float: left;
    border-left: 1px solid white;
    width: 33.33333333%;
    height: 100%;
    position: relative;
    border-color: inherit;
}

.feature-list .icon {
    height: 24px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 45px;
}

.feature-list li:last-child {
    border-right: 1px solid white;
    border-color: inherit;
}

.feature-list .name {
    /* 3 BEDROOM: */
    font-size: 10px;
    letter-spacing: 4.16px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0;
    text-align: center;
}

.actions {
    position: relative;
    left: 50%;
    width: 50%;
    margin-top: 80px;
}

.actions .label {
    /* VIEW FLOORPLANS: */
    font-size: 12px;
    letter-spacing: 1.79px;
    line-height: 16px;
    font-weight: 200;
    text-align: center;
    margin-top: 30px;
}

.actions .icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
}

.actions li:nth-child(1) .icon {
    background-image: url('../img/icon/floorplans.png');
}

.actions li:nth-child(2) .icon {
    background-image: url('../img/icon/print.png');
}

.actions li:nth-child(3) .icon {
    background-image: url('../img/icon/email.png');
}

#gallery,
#auction,
#contact,
#agent {
    padding: 100px 0;
}

#gallery {
    padding-bottom: 0;
}

#gallery-nav {
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
    display: inline-block;
}

#gallery-nav .next,
#gallery-nav .prev {
    display: inline-block;
    background-image: url(../img/icon/arrow-black.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 17px;
    height: 30px;
    background-size: contain;
    cursor: pointer;
    float: left;
}

#gallery-nav .next {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    float: right;
}

#gallery-nav .count {
    /* 1/15: */
    font-family: PlayfairDisplay-Regular;
    font-size: 28px;
    letter-spacing: 1.31px;
    line-height: 23px;
    margin: 0 70px;
}

#gallery-1 {}

#gallery-1 .rsSlide {
    background: transparent;
}

.visibleNearby {
    width: 100%;
    background: transparent;
    color: #FFF;
    padding-top: 25px;
}

.visibleNearby img {
    -webkit-backface-visibility: hidden;
}

.visibleNearby .rsGCaption {
    font-size: 16px;
    line-height: 18px;
    padding: 12px 0 16px;
    background: transparent;
    width: 100%;
    position: static;
    float: left;
    left: auto;
    bottom: auto;
    text-align: center;
}

.royalSlider > .rsImg {
    visibility: hidden;
}

.rsDefault,
.rsDefault .rsOverflow,
.rsDefault .rsSlide,
.rsDefault .rsVideoFrameHolder,
.rsDefault .rsThumbs {
    background: transparent;
}


/* Scaling transforms */

.visibleNearby .rsSlide img {
    opacity: 0.45;
    filter: alpha(opacity=45);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.visibleNearby .rsActiveSlide img {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}


/* Non-linear resizing on smaller screens */

@media screen and (min-width: 0px) and (max-width: 900px) {
    #gallery-1 {
        padding: 12px 0 12px;
    }
    #gallery-1 .rsOverflow,
    .royalSlider#gallery-1 {
        height: 400px !important;
    }
}

@media screen and (min-width: 0px) and (max-width: 500px) {
    #gallery-1 .rsOverflow,
    .royalSlider#gallery-1 {
        height: 230px !important;
    }
}

#location {
    padding-bottom: 160px;
    padding-top: 110px;
}

section#location .section-title {
    margin-top: 40px;
}

.mapwrapper {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.mapwrapper.full {
    position: fixed;
    width: 80%;
    height: 76%;
    top: 50%;
    left: 50%;
    z-index: 101;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1130px rgb(0, 0, 0);
    -webkit-box-shadow: 0 0 1130px rgb(0, 0, 0);
    -moz-box-shadow: 0 0 1130px rgb(0, 0, 0);
    border-radius: 0;
    background: white;
}


.mapwrapper.full #map2 {
    border-radius: 0;
    -webkit-border-radius: 0;
}

.mapwrapper .label {
    font-size: 12px;
    letter-spacing: 1.79px;
    line-height: 16px;
    font-weight: 200;
    color: inherit;
}

.mapwrapper.full .label {
    display: none;
}

.mapwrapper .icon {
    width: 80px;
    height: 80px;
    background-image: url(../img/icon/plus.png);
    background-size: 30px;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: -41px;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid;
    border-radius: 50%;
}

.mapwrapper.full .icon {
    background-image: url(../img/icon/close.png);
    position: absolute;
    bottom: -26px;
    margin: 0;
    left: 50%;
    margin-left: -40px;
}

#map,#map2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.mapwrapper.full{display: none;}
#auction {
    text-align: center;
    background: #F7F7F7;
}

#auction .content {
    color: black;
}

#auction .sub-title {
    font-family: PlayfairDisplay-Regular;
    font-size: 32px;
    letter-spacing: 1.5px;
    line-height: 78px;
}

#auction .table {
    margin: 0 auto;
    width: 668px;
}

#auction .table td {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #273038;
    letter-spacing: 2px;
    font-weight: 200;
    vertical-align: middle;
}

#auction .table tr {
    height: 90px;
}

#auction .table tr:hover {
    background: #E2E2E2;
    cursor: pointer;
}

#auction .table .icon {
    width: 25px;
    height: 25px;
    display: inline-block;
}

.icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#agent {
    background-color: black;
}

#agent p {
    color: white;
}

section#agent .hr {
    margin: 40px auto;
}

#agent .quote {
    /* Ã¢â‚¬Å“It makes me proud t: */
    font-family: PlayfairDisplay-Regular;
    font-size: 24px;
    color: inherit;
    line-height: 39px;
}

section#agent .avatar {
    width: 186px;
    margin: 0 auto;
    display: block;
    margin-bottom: 40px;
}

#agent .name {
    font-family: Lato-Bold;
    font-size: 19px;
    letter-spacing: 3.71px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 25px;
}

.contact {
    font-family: Lato-Regular;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 33px;
    position: relative;
    display: inline-block;
}

#contact .contact {
    /* 02 234567....: */
    font-family: Lato-Regular;
    font-size: 14px;
    letter-spacing: 0.87px;
    line-height: 24px;
}

#contact .contact li {
    margin-bottom: 18px;
}

.contact img {
    width: 24px;
    margin-right: 20px;
}

#contact {
    background-color: #282828;
    color: white;
}

#contact .socials img {
    height: 18px;
    /* Fill 8: */
}

#contact .socials {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    margin-top: 60px;
}

#contact .socials ul {
    position: relative;
    display: inline-block;
}

#contact .socials h4 {
    /* CONNECT WITH US: */
    font-family: Lato-Bold;
    font-size: 14px;
    letter-spacing: 8.69px;
    line-height: 24px;
}

#contact .socials li {
    float: left;
    margin-right: 17px;
}

section#contact .logo {
    margin: 0 auto;
    display: block;
    margin-bottom: 40px;
}


/*responsive*/

@media screen and (max-width: 1280px) {
    nav {
        top: 20px;
    }
    nav li a {
        margin-right: 43px;
    }
    nav li a.logo {
        /* font-size: 18px; */
    }
    .welcome {
        /* padding-top: 140px; */
    }
    .welcome .time {
        margin-bottom: 20px;
    }
    .welcome h1 {
        font-size: 56px;
        margin-bottom: 30px;
    }
    .feature-list {
        height: 80px;
    }
    .scroll-explore .label {
        margin-bottom: 30px;
    }
    .scroll-explore {
        bottom: 30px;
    }
    .welcome h3 {
        margin-bottom: 2px;
    }
}
