@media screen and (max-width: 1200px) {
    #humburger {
        display: block;
    }
    #primary-nav a {
        display: none;
    }
    #primary-nav a.logo,
    #primary-nav a.register {
        display: block;
    }
    #secondary-nav {
        display: none;
    }
}


/* ----------- Tablet ----------- */


/* Portrait and Landscape */

@media only screen and (max-width: 1024px) {
    #contact p {
        text-align: center;
    }
    #home {
        min-height: 568px;
    }
}


/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .welcome {
        /* padding-top: 300px; */
    }
}


/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {}


/* ----------- Mobile ----------- */


/* Portrait and Landscape */

@media screen and (max-width: 568px) {
    .scroll-explore .label {
        margin-bottom: 15px;
    }
    .scroll-explore {
        bottom: 20px;
    }
    #agent .quote {
        font-size: 18px;
        line-height: 28px;
    }
    #mapwrapper {
        width: 280px;
        height: 280px;
    }
    #location {
        padding-bottom: 50px;
    }
    .mapwrapper{
        width: 280px;
        height: 280px;
    }
    #auction .table {
        width: 100%;
    }
    #auction .table td {
        font-size: 11px;
    }
    #mapwrapper .icon {
        width: 50px;
        height: 50px;
        margin-top: -20px;
    }
    .hr {
        margin: 15px auto;
    }
    #gallery,
    #auction,
    #contact,
    #agent {
        padding: 50px 0;
    }
    #gallery-nav {
        margin-top: 0;
    }
    .feature-list {
        width: 300px;
        height: 60px;
    }
    #features .feature-list {
        margin-bottom: 30px;
    }
    .actions {
        margin-top: 20px;
    }
    .feature-list li {}
    .feature-list .name {
        font-size: 7px;
    }
    #features {
        padding-top: 50px;
    }
    .section-title {
        font-size: 40px;
        line-height: 40px;
    }
    nav li a.logo {
        white-space: nowrap;
    }
    .welcome h1 {
        font-size: 33px;
        line-height: 45px;
        margin-bottom: 0;
    }
    .welcome h3 {
        font-size: 12px;
        margin-top: 10px;
    }
    .welcome .time {
        font-size: 10px;
    }
    .welcome {
        /* padding-top: 120px; */
    }
    nav li a.logo {
        font-size: 20px;
    }
}


/* Landscape */

@media only screen and (max-device-width: 667px) and (orientation: landscape) {
    #home {
        min-height: 578px;
        padding-bottom: 200px;
    }

.welcome {
    top: 246px;
}

.welcome h1 {
    font-size: 39px;
}
}
