/*---------------------------------*
 * Color
 *--------------------------------/
/**
 * Feature colour 0: black;
 */
.theme-color-0 #features,
.theme-color-0 #gallery,
.theme-color-0 #location
{
	color: black;
	border-color: black;
}
.theme-color-0 #location .icon,
.theme-color-0 .actions .icon{
	background-color: black;
}
.theme-color-0 #agent{
	color: white;
	border-color: white;
}
.theme-color-0 #auction .table .icon {
    background-image: url('../img/icon/theme-color-0/calendar.png');
}
.theme-color-0 #features .feature-list .bedroom{ background-image: url('../img/icon/theme-color-0/bedroom.png'); }
.theme-color-0 #features .feature-list .bathroom{ background-image: url('../img/icon/theme-color-0/bathroom.png'); }
.theme-color-0 #features .feature-list .parking{ background-image: url('../img/icon/theme-color-0/parking.png'); }

/**
 * Feature colour 1: #C98C49;
 */
.theme-color-1 #features,
.theme-color-1 #gallery,
.theme-color-1 #auction,
.theme-color-1 #location,
.theme-color-1 #agent{
	color: #C98C49;
	border-color: #C98C49;
}
.theme-color-1 #location .icon,
.theme-color-1 .actions .icon{
	background-color: #C98C49;
}
.theme-color-1 #auction .table .icon {
    background-image: url('../img/icon/theme-color-1/calendar.png');
}
.theme-color-1 #features .feature-list .bedroom{ background-image: url('../img/icon/theme-color-1/bedroom.png'); }
.theme-color-1 #features .feature-list .bathroom{ background-image: url('../img/icon/theme-color-1/bathroom.png'); }
.theme-color-1 #features .feature-list .parking{ background-image: url('../img/icon/theme-color-1/parking.png'); }

/**
 * Feature colour 2: #FFFFFF;
 */
.theme-color-2 #features,
.theme-color-2 #gallery,
/*.theme-color-2 #auction,*/
.theme-color-2 #location,
.theme-color-2 #agent{
	color: #FFFFFF;
	border-color: #FFFFFF;
}
.theme-color-2 #location .icon,
.theme-color-2 .actions .icon{
	background-color: #FFFFFF;
}
.theme-color-2 #auction .table .icon {
    background-image: url('../img/icon/theme-color-2/calendar.png');
}
.theme-color-2 #location .icon{
    background-image: url('../img/icon/theme-color-2/plus.png');
}
.theme-color-2 #features .feature-list .bedroom{ background-image: url('../img/icon/theme-color-2/bedroom.png'); }
.theme-color-2 #features .feature-list .bathroom{ background-image: url('../img/icon/theme-color-2/bathroom.png'); }
.theme-color-2 #features .feature-list .parking{ background-image: url('../img/icon/theme-color-2/parking.png'); }
.theme-color-2 #mapwrapper .icon{background-image: url('../img/icon/theme-color-2/plus.png');}
.theme-color-2 .actions li:nth-child(1) .icon{background-image: url('../img/icon/theme-color-2/floorplans.png');}
.theme-color-2 .actions li:nth-child(2) .icon{background-image: url('../img/icon/theme-color-2/print.png');}
.theme-color-2 .actions li:nth-child(3) .icon{background-image: url('../img/icon/theme-color-2/email.png');}

/**
 * Feature colour 3: #75B2CE;
 */
.theme-color-3 #features,
.theme-color-3 #gallery,
.theme-color-3 #auction,
.theme-color-3 #location,
.theme-color-3 #agent{
	color: #75B2CE;
	border-color: #75B2CE;
}
.theme-color-3 #location .icon,
.theme-color-3 .actions .icon{
	background-color: #75B2CE;
}
.theme-color-3 #auction .table .icon {
    background-image: url('../img/icon/theme-color-3/calendar.png');
}
.theme-color-3 #features .feature-list .bedroom{ background-image: url('../img/icon/theme-color-3/bedroom.png'); }
.theme-color-3 #features .feature-list .bathroom{ background-image: url('../img/icon/theme-color-3/bathroom.png'); }
.theme-color-3 #features .feature-list .parking{ background-image: url('../img/icon/theme-color-3/parking.png'); }

/**
 * Feature colour 4: #E4C1B0;
 */
.theme-color-4 #features,
.theme-color-4 #gallery,
.theme-color-4 #auction,
.theme-color-4 #location,
.theme-color-4 #agent{
	color: #E4C1B0;
	border-color: #E4C1B0;
}
.theme-color-4 #location .icon,
.theme-color-4 .actions .icon{
	background-color: #E4C1B0;
}
.theme-color-4 #auction .table .icon {
    background-image: url('../img/icon/theme-color-4/calendar.png');
}
.theme-color-4 #features .feature-list .bedroom{ background-image: url('../img/icon/theme-color-4/bedroom.png'); }
.theme-color-4 #features .feature-list .bathroom{ background-image: url('../img/icon/theme-color-4/bathroom.png'); }
.theme-color-4 #features .feature-list .parking{ background-image: url('../img/icon/theme-color-4/parking.png'); }
/*---------------------------------*
 * Background
 *--------------------------------/
/**
 * Background colour 1: white;
 */
.theme-bg-1{
	background-color: white;
}
.theme-bg-1 #secondary-nav{
	/* background-color: rgba(255,255,255,0.8); */
}
.theme-bg-1 .content{
	color: black;
}

/**
 * Background colour 2: black;
 */
.theme-bg-2{
	background-color: black;
}
.theme-bg-2 #secondary-nav{
	background-color: rgba(0,0,0,0.8);
}
.theme-bg-2 .content{
	color: white;
}
.theme-bg-2 #gallery-nav .next, .theme-bg-2 #gallery-nav .prev{
	background-image: url(../img/icon/arrow-white.png);
}